:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #cecece; */
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'UniviaPro';
  src: url('/fonts/UniviaPro-Regular/UniviaPro-Regular.woff') format('opentype');
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('/fonts/Monumented/MonumentExtended-Regular.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'UniviaPro', sans-serif;
  font-size: 16px;
}


